/*---------- Resete ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- Variáveis da Página ----------*/
:root {
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-cinza: #888888;
    --cor-cinza-claro: #B0B8C3;
    --cor-cinza-mais-claro: #D9D9D9;
    --cor-azul: #347CD4;
    --cor-azul-0: #40506D;
    --cor-azul-1: #274273;
    --cor-azul-2: #1E3256;
    --cor-azul-3: #192B4B;
    --cor-azul-4: #182641;

    --fonte-principal: 'Josefin Sans', sans-serif;
    --fonte-secundaria: 'Jockey One', sans-serif;
}

/*---------- Estilos Globais ----------*/
body {
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    background-color: var(--cor-azul-4);
}

body::before {
    content: "";
    background-image: url('../img/background.jpg');
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*------------------------------ Mobile First ------------------------------*/
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*---------- Card ----------*/
.card {
    width: 90%;
    max-height: 400px;
    background-color: var(--cor-azul-2);
    border-radius: 20px;
    border: inset 4px var(--cor-azul-1);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-esquerdo {
    display: none;
}

.card-direito {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.slide.ativa {
    height: 400px;
    width: 600px
}

.slide {
    height: 50px;
    width: 70px
}

.icone-input {
    height: 30px;
    width: 30px
}

.icone-ver-senha {
    height: 30px;
    width: 30px
}
