/*---------- Resete ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- Variáveis da Página ----------*/
:root {
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-cinza: #888888;
    --cor-cinza-claro: #B0B8C8;
    --cor-cinza-mais-claro: #D9D9D9;
    --cor-azul: #347CD4;
    --cor-azul-0: #40506D;
    --cor-azul-1: #274273;
    --cor-azul-2: #1E3256;
    --cor-azul-3: #192B4B;
    --cor-azul-4: #182641;

    --fonte-principal: 'Josefin Sans', sans-serif;
    --fonte-secundaria: 'Jockey One', sans-serif;
}

/*---------- Estilos Globais ----------*/
body {
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    background-color: var(--cor-azul-4);
}

/*---------- Imagem de Fundo ----------*/
body::before {
    content: "";
    background-image: url('../img/background.jpg');
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*------------------------------ Mobile First ------------------------------*/
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
}

/*---------- Logo ----------*/
.logo {
    text-align: center;
    z-index: 10;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px; /* Espaço entre a logo e o card */
}

.logo h1 {
    font-family: var(--fonte-principal);
    font-size: 3.7rem;
    font-weight: 700;
    font-style: italic;
    color: var(--cor-branco);
    line-height: 1.1;
}

.logo h3 {
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    color: var(--cor-branco);
    font-weight: 500;
    letter-spacing: 1px;
}

/*---------- Card ----------*/
.formulario {
    width: 95%;
    background-color: var(--cor-azul-2);
    border-radius: 20px;
    padding: 32px 22px;
    border: solid 4px var(--cor-azul-1);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px; 
    z-index: 20;
}

h2 {
    font-family: var(--fonte-secundaria);
    color: var(--cor-branco);
    margin-bottom: 25px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
}

p {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}

.input {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input input {
    width: 100%;
    background-color: var(--cor-azul-4);
    box-shadow: inset 0 0 5px #101E25;
    border: none;
    border-radius: 5px;
    padding: 15px;
    padding-left: 55px;
    color: var(--cor-cinza);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    transition: background-color 0.3s;
}

.input input:focus {
    color: var(--cor-branco);
}

.input input::placeholder {
    color: var(--cor-azul-0);
}

.icone-email {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    pointer-events: none;
}

/*--- Botão ---*/
button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--fonte-principal);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(15, 36, 62, 0.4);
    transition: all 0.3s ease;
}

button:hover {
    background-color:#4a90e2;
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(52, 124, 212, 0.4);
}

button:active {
    transform: scale(0.98);
}

.formulario a {
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px; 
    border: solid 2px var(--cor-azul); 
    color: var(--cor-branco);
    font-size: 1rem;
    align-self: center; 
    transition: all 0.3s ease;
}

.formulario a:hover {
    border: solid 2px var(--cor-branco); 
}




/*------------------------------ Telas Médias (Tablets e Notebooks Pequenos) ------------------------------*/
@media (min-width: 900px) {
    /*---------- Imagem de Fundo ----------*/
    body::before {
        background-size: 100% 120%;
    }
}








/*------------------------------ Telas Grandes ------------------------------*/
@media (min-width: 1400px) {
    
}